GGDCoronaTestManagement/GGDAdminApp/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CoronaHealthService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CoronaHealthService" />
  <xs:element name="GetServiceName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServiceNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTestLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTestLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CoronaHealthService" minOccurs="0" name="GetAvailableTestLocationsResult" nillable="true" type="q1:ArrayOfGgd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centerLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeReservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centerLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelReservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGgdInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGgdInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CoronaHealthService" minOccurs="0" name="GetGgdInfoResult" nillable="true" type="q2:ArrayOfGgd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncreaseCapacity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centerLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdditionalCoronaTestLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ggdCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ggdCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="availableCapacity" type="xs:int" />
        <xs:element minOccurs="0" name="testCenterAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdditionalCoronaTestLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnIncreaseCapacity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnIncreaseCapacityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUpdateLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUpdateLocationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>